<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Mi Empresa - Inicio</title>
     <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <!-- Encabezado -->
    <header>
        <h1>Mi Empresa - Contactos</h1>
        <div class="logo">
            <img src="../images/Logo.png" alt="Logo de Mi Empresa">
        </div>

        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../views/productos.html">Galeria</a></li>
                <li><a href="../views/presupuesto.html">Presupuestos</a></li>
                <li><a href="../views/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <!-- Contenido principal -->

      <main>
    <section id="intro">
      <h2>Contactos</h2>
      <p>Si tienes alguna pregunta o necesitas más información, no dudes en contactarnos.</p>
      <p>Estamos aquí para ayudarte.</p>
      <p>Teléfono: +34 123 456 789</p>
      <p>Email: Email@mail.com</p>
    </section>

    <section id="Direccion">
      <h2>Direcciones</h2>
      <p>Calle Falsa 123, Ciudad, País</p>
      <p>Horario de atención: Lunes a Viernes, 9:00 AM - 6:00 PM</p>
      <a href="https://maps.app.goo.gl/2GziNs8KqjTRxT3m7" target="_blank"><img src="../images/Direccion.png" Ver en Google Maps alt="Dirección en Google Maps"></a>
    </section>
      
      
  </main>
    <!-- Pie de página -->
    <footer>
    <div class="redes">
      <a href="https://facebook.com" target="_blank"><img src="../images/Logo_facebook.png" alt="Facebook"></a>
      <a href="https://instagram.com" target="_blank"><img src="../images/Logo.instagram.png" alt="Instagram"></a>
      <a href="https://twitter.com" target="_blank"><img src="../images/Logo.X.png" alt="Twitter"></a>
    </div>
    <p>📍 Calle Falsa 123, Ciudad Ejemplo</p>
    <p>Mi empresa 2025.</p>
    <p><a href="#">Aviso legal</a></p><br>
    <p>Desarrollado por Leonel Ruz</p>
    
  </footer>

</html>
