<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <!-- Encabezado -->
    <header>
        <h1>Mi Empresa - Presupuestos</h1>
        <div class="logo">
            <img src="../images/Logo.png" alt="Logo de Mi Empresa">
        </div>

        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../views/productos.html">Galeria</a></li>
                <li><a href="../views/presupuesto.html">Presupuestos</a></li>
                <li><a href="../views/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <!-- Contenido principal -->

      <main>
    <section id="intro">
      <h2>Presupuestos</h2>
        <p>Para solicitar un presupuesto personalizado, por favor completa el siguiente formulario:</p>
        <form action="#" method="post">
          <label for="name">Nombre:</label>
          <input type="text" id="name" name="name" required><br><br>

          <label for="phone">Teléfono:</label>
          <input type="tel" id="phone" name="phone" required><br><br>
          
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required><br><br>
          
        
          
          <label for="details">Detalles adicionales:</label><br>
          <textarea id="details" name="details" rows="4" cols="50"></textarea><br><br>

          <input type="checkbox">
            <label for="terms">Acepto los términos y condiciones</label><br><br>
    
          
          <input type="submit" value="Enviar solicitud">
        </form>
    </section>
    </main>
    <!-- Pie de página -->
     <footer>
    <div class="redes">
      <a href="https://facebook.com" target="_blank"><img src="../images/Logo_facebook.png" alt="Facebook"></a>
      <a href="https://instagram.com" target="_blank"><img src="../images/Logo.instagram.png" alt="Instagram"></a>
      <a href="https://twitter.com" target="_blank"><img src="../images/Logo.X.png" alt="Twitter"></a>
    </div>
    <p>📍 Calle Falsa 123, Ciudad Ejemplo</p>
    <p><a href="#">Aviso legal</a></p>
    <p>Desarrollado por Leonel Ruz</p>
  </footer>

    
</body>

</html>
