<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi empresa - productos</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <!-- Encabezado -->
    <header>
        <h1>Mi Empresa - Productos</h1>
        <div class="logo">
            <img src="../images/Logo.png" alt="Logo de Mi Empresa">
        </div>

        <nav>
            <ul>
                <li><a href="../Index.html">Inicio</a></li>
                <li><a href="../views/productos.html">Galeria</a></li>
                <li><a href="../views/presupuesto.html">Presupuestos</a></li>
                <li><a href="../views/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <!-- Contenido principal -->

      <main>
    <section id="intro">
      <h2>Productos</h2>
      <p>Explora nuestra galería de productos y servicios.</p>
    </section>

    <section id="galeria">
      <h2>Galería de Productos</h2>
      <div class="gallery">
        <div class="gallery-item">
          <img src="../images/productos_1.png" width="300px" height="300px" alt="Producto 1">
          <p>Curso de programación</p>
        </div>
        <div class="gallery-item">
          <img src="../images/productos_2.png" width="300px" height="300px" alt="Producto 2">
          <p>Curso de electricidad</p>
        </div>
        <div class="gallery-item">
          <img src="../images/productos_3.png" width="300px" height="300px" alt="Producto 3">
          <p>Curso de refrigeración</p>
        </div>
        <!-- Añade más productos según sea necesario -->
      </div>
    </section>
  </main>
    <!-- Pie de página -->
     <footer>
    <div class="redes">
      <a href="https://facebook.com" target="_blank"><img src="../images/Logo_facebook.png" alt="Facebook"></a>
      <a href="https://instagram.com" target="_blank"><img src="../images/Logo.instagram.png" alt="Instagram"></a>
      <a href="https://twitter.com" target="_blank"><img src="../images/Logo.X.png" alt="Twitter"></a>
    </div>
    <p>📍 Calle Falsa 123, Ciudad Ejemplo</p>
    <p><a href="#">Aviso legal</a></p>
    <p>Desarrollado por Leonel Ruz</p>
  </footer>

    
</body>
</html>